{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<form method="post">

    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.first_name) }}
    {{ form_row(registrationForm.last_name) }}
    {{ form_row(registrationForm.pseudo) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <button type="submit" class="btn btn-lg btn-primary">
        Register
    </button>
    <div class="mt-3 text-center">
        <p>Déja un compte? <a href="{{ path('app_login') }}">Se connecter</a></p>
    </div>
    {{ form_end(registrationForm) }}

</form>
{% endblock %}
