{% extends 'base.html.twig' %}

{% block title %}Créer un tournoi{% endblock %}

{% block body %}
<div class="create-tournament-container">
    <h1>Créer un tournoi</h1>
    
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.cashprice) }}
            {{ form_row(form.nbMaxTeam) }}
            {{ form_row(form.date) }}
            {{ form_row(form.start_inscription) }}
            {{ form_row(form.end_inscription) }}
            {{ form_row(form.finished) }}
        </div>

        <button type="submit" class="btn btn-primary">Créer le tournoi</button>
    {{ form_end(form) }}
</div>
{% endblock %}
