{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="landing-container">
    <img src="{{ asset('images/logo.png') }}" alt="Logo" class="landing-logo">
    <h1 class="landing-title">Bienvenue sur notre plateforme de tournois !</h1>
    <p class="landing-text">Rejoignez-nous pour organiser, suivre et participer à des tournois en tout genre!</p>

    {% if app.user %}
        <p class="welcome-message">Bonjour, {{ app.user.firstName }} {{ app.user.lastName }} !</p>
        <div class="landing-actions">
            <a href="{{ path('app_dashboard') }}">Accéder au tableau de bord</a>
            <a href="{{ path('app_logout') }}"">Déconnexion</a>
        </div>
    {% else %}
        <div class="landing-actions">
            <a href="{{ path('app_login') }}">Connexion</a>
            <a href="{{ path('app_register') }}">Inscription</a>
        </div>
    {% endif %}
</div>
{% endblock %}
